<section class="sheet-header">

  {{!-- Image --}}
  <div class="left">
    <img class="item-image"
         src="{{ ifThen editable img.editable img.value }}"
         alt="{{ name.value }}"
         {{~#if editable}} data-action="editImage" data-edit="img"{{else}} data-action="showIcon"{{/if}}>
  </div>

  {{!-- Name & Subtitles --}}
  <div class="middle identity-info">

    {{!-- Name --}}
    {{#if editable}}
      {{ formInput name.field value=name.editable input=inputs.createTextInput classes="document-name uninput" }}
    {{else}}
      <div class="document-name">{{ item.name }}</div>
    {{/if}}

    {{!-- Sous-titres : select du type quand editable, libellé sinon --}}
    <ul class="subtitles unlist">
      {{#if editable}}
        <li class="secret-type">
          <label for="secret-type" class="subtitle-label">{{ localize "Valombreuse5eGMG.ui.secrettype" }}</label>
          <select id="secret-type" name="system.type.subtype">
            {{ selectOptions (getSecretTypeOptions) selected=system.type.subtype blank="" }}
          </select>
        </li>
      {{else}}
        <li class="secret-type readonly">
          <span>
            {{ localize "Valombreuse5eGMG.ui.secrettype" }}:
            {{ localize (lookup (getSecretTypeLabels) system.type.subtype) }}
          </span>
        </li>
      {{/if}}
    </ul>
  </div>

  {{!-- Côté droit : Niveau du secret (system.quantity) --}}
  <div class="right common-fields">
    <div class="quantity secret-level-wrapper">
      <span class="separator">{{ localize "Valombreuse5eGMG.ui.secretlevel" }}</span>

      {{#if editable}}
        {{ formInput fields.quantity value=source.quantity classes="secret-level-input" }}
      {{else}}
        <span class="value secret-level-value">{{ dnd5e-numberFormat system.quantity }}</span>
      {{/if}}
    </div>
  </div>

</section>