{{!-- =============================== --}}
{{!--  Single Power Row (V2 actions) --}}
{{!-- =============================== --}}
<li class="vp-row flexrow" data-item-id="{{power.id}}">
  <div class="vp-name">
    <a class="vp-link"
       data-action="powerOpen"
       data-item-id="{{power.id}}"
       data-tooltip-direction="UP"
       data-tooltip="{{{stripHTML power.system.description.value}}}"
       title="{{{stripHTML power.system.description.value}}}">
      {{power.name}}
    </a>
  </div>

  <div class="secret-controls">
    <a class="action-button secret-remove"
       data-action="powerRemove"
       title="{{localize 'Valombreuse5eGMG.secrets.remove'}}">
      <i class="fa-solid fa-xmark"></i>
    </a>
  </div>
</li>
